<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sparkling.sightreading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/key_sharp_7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/key_0"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <activity android:name=".PracticeActivity"></activity>
        <activity android:name=".LevelActivity" />
        <activity android:name=".Tuner" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".AboutActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".PlayActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>