<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sparkling.sightreading">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/key_sharp_7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/key_0"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        >

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity android:name="com.sparkling.sightreading.AboutActivity" />
        <activity android:name="com.sparkling.sightreading.InfoActivity" />
        <activity android:name="com.sparkling.sightreading.OptionsActivity" />
        <activity android:name="com.sparkling.sightreading.PlayActivity" />
        <activity android:name="com.sparkling.sightreading.StartActivity" />
        <activity android:name="com.sparkling.sightreading.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>